/* typography */

h1, h2 {
  color: #e52020;
  font-size: 32px;
  font-family: 'Chonburi', cursive;
}

a {
  text-decoration: none;
  color: #b72020;
}

a:hover {
  color: #e52020;
}

p {
  color: #303030;
  font-size: 16px;
  font-family: 'Nonum Gothic', sans-serif;
  line-height: 24px;
}

.nav-element p, h3 {
  font-size: 18px;
  font-family: 'Chonburi', cursive;
}

/* layout */

body {
  margin: 0;
  position: relative;
}

header {
  width: 100%;
  border-bottom: 2px solid #303030;
  display: inline-block;
  position: sticky;
  top: 0px;
  background: rgba(255,255,255,0.8);
  z-index: 5;
}

header.mini .name {
  max-width: 20%;
  margin: 0 0 0 5%;
}

header.mini .name h1 {
  font-size: 18px;
  margin-block-start: 1em;
  margin-block-end: 1em;
}

header.mini nav {
  max-width: 69%;
  margin: 0 5% 0 0;
}

header.mini nav .nav-element {
  width: auto;
  display: inline-block;
  margin-left: 10px;
}

#spacer {
  height: 130px;
}

.hidden {
  display: none;
}

.name {
  text-align: left;
  width: 30%;
  float: left;
  margin: 2% 0 0 10%;
  clear: both;
}

nav {
  text-align: right;
  float: right;
  width: 30%;
  margin: 0 10% 0 0;
}

.page {
  width: 80%;
  margin: 0 auto;
}

section {
  width: 100%;
  padding-top: 60px;
  margin: 0 auto;
}

.section-head {
  text-align: center;
}

#work {
  min-height: 3000px;
}

.section-content {
  display: flex;
}

.block {
  width: 45%;
  margin: 5%;
}

.center {
  text-align: center;
}

img {
  max-width: 100%;
}

.section-menu {
  display: flex;
  text-align: center;
  width: 100%;
  border: 2px solid #303030;
}

.section-menu-item {
  width: 25%;
  padding: 10px;
  text-align: center;
  margin: -2px;
  border-left: 2px solid rgba(0,0,0,0);
  border-right: 2px solid rgba(0,0,0,0);
  border-top: 2px solid #303030;
  border-bottom: 2px solid #303030;
  z-index: 1;
}

.first {
  border-left: 2px solid #303030;
}

.last {
  border-right: 2px solid #303030;
}

.section-menu-item:hover {
  border-top: 2px solid #e52020;
  border-bottom: 2px solid #e52020;
  color: #e52020;
  cursor: pointer;
  z-index: 2;
}

.first:hover {
  border-left: 2px solid #e52020;
}

.last:hover {
  border-right: 2px solid #e52020;
}

.section-menu-item.active {
  color: #e52020;
  border-top: 2px solid #e52020;
  border-right: 2px solid #e52020;
  border-left: 2px solid #e52020;
  border-bottom: none;
  background-color: #ebf7ea;
  z-index: 4;
}

.project {
  display: none;
}

.project.active {
  position: relative;
  display: block;
  width: 100%;
  background-color: #ebf7ea;
  border-left: 2px solid #e52020;
  border-right: 2px solid #e52020;
  border-bottom: 2px solid #e52020;
  border-top: 2px solid #e52020;
  margin-top: -2px;
  height: 1000px;
  z-index: 3;
}

footer {
  width: 100%;
  border-top: 2px solid #303030;
  text-align: center;
}

.footer-content {
  margin: 20px auto;
}
