/* typography */

h1, h2 {
  color: #d61500;
  font-size: 32px;
  font-weight: 700;
  font-family: 'Frank Ruhl Libre', serif;
  text-decoration: none;
}

a {
  text-decoration: none;
  color: #0066a5;
}

a:hover {
  color: #009dff;
  text-decoration: underline;
}

p {
  color: #303030;
  font-size: 16px;
  font-family: 'Quicksand', sans-serif;
  line-height: 32px;
}

.nav-element p {
  font-size: 18px;
  font-weight: 700;
  font-family: 'Frank Ruhl Libre', serif;
  line-height: 18px;
}

.nav-element p a {
  color: #303030;
}

.nav-element p a:hover {
  color: #009dff;
  text-decoration: underline;
}

h3 {
  font-size: 20px;
  font-weight: 700;
  font-family: 'Frank Ruhl Libre', serif;
}

/* layout */

body {
  margin: 0;
  position: relative;
}

header {
  width: 100%;
  border-bottom: 1px solid #303030;
  display: inline-block;
  position: sticky;
  top: 0px;
  background: rgba(255,255,255,0.8);
  z-index: 5;
}

header.mini .name {
  width: 20%;
  margin: 0 0 0 5%;
}

header.mini .name h1 {
  font-size: 18px;
  margin-block-start: 1em;
  margin-block-end: 1em;
}

header.mini nav {
  width: 69%;
  margin: 0 5% 0 0;
}

header.mini nav .nav-element {
  width: auto;
  display: inline-block;
  margin-left: 10px;
}

#spacer {
  height: 130px;
}

.hidden {
  display: none;
}

.name {
  text-align: left;
  width: 30%;
  float: left;
  margin: 2% 0 0 10%;
  clear: both;
}

nav {
  text-align: right;
  float: right;
  width: 30%;
  margin: 0 10% 0 0;
}

.page {
  width: 100%;
  margin: 0 auto;
}

section {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
  margin: -4px auto 0 auto;
/*  background: -moz-linear-gradient(-45deg, #eff9ff 0%, #fff 50%, #eff9ff 100%);
  background: -webkit-linear-gradient(-45deg, #eff9ff 0%,#fff 50%,#eff9ff 100%);
  background: linear-gradient(135deg, #eff9ff 0%,#fff 50%,#eff9ff 100%);
  */
  background-color: #eff9ff;
}

.section-wrap {
  width: 80%:
}

.flex {
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
}

.section-head {
  text-align: center;
}

.section-content {
  margin-bottom: 20px;
  display: flex;
}

.block {
  width: 40%;
  text-align: left;
}

.left {
  margin: 0% 0% 0% 10%;
}

.right {
  margin: 0% 10% 0% 0%;
}

.center {
  justify-content: center;
}

.block ul {
  margin: 40px auto 0px auto;
  width: 80%;
  text-align: left;
}

.block ul li strong {
  font-size: 18px;
  font-weight: 700;
  font-family: 'Frank Ruhl Libre', serif;
}

.block .logo-row {
  width: 80%;
  margin: 0 auto;
}

.block img {
  width: 80%;
}

img {
  max-width: 100%;
}

#work {
  background: #fff;
}

.section-menu {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex: 1 1 auto;
  text-align: center;
  max-width: 1024px;
  border-top: 1px solid #303030;
  border-bottom: 1px solid #303030;
  border-left: 1px solid rgba(0,0,0,0);
  border-right: 1px solid rgba(0,0,0,0);
}

.section-menu-item {
  width: 20%;
  padding: 10px;
  text-align: center;
  margin: -1px;
  border-left: 1px solid rgba(0,0,0,0);
  border-right: 1px solid rgba(0,0,0,0);
  border-top: 1px solid #303030;
  border-bottom: 1px solid #303030;
  z-index: 1;
}

.short {
  margin-top: 17.5%;
}

.section-menu-item:hover {
  border-top: 1px solid #009dff;
  border-bottom: 1px solid #009dff;
  color: #009dff;
  cursor: pointer;
  z-index: 5;
}

.section-menu-item.active {
  color: #009dff;
  border-top: 1px solid #009dff;
  border-right: 1px solid #009dff;
  border-left: 1px solid #009dff;
  border-bottom: none;
  background-color: #eff9ff;
  z-index: 4;
}

.mobile {
  width: 100%;
  margin: -1px auto 0px auto;
  padding: 10px 0px;
  display: none;
}

.project {
  display: none;
}

.project.active {
  position: relative;
  margin: 0 auto;
  display: block;
  width: 80%;
  background-color: #eff9ff;
  border-left: 1px solid #009dff;
  border-right: 1px solid #009dff;
  border-bottom: 1px solid #009dff;
  border-top: 1px solid #009dff;
  margin-top: -1px;
  z-index: 3;
}

.glance {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 30px 5%;
}

.glance div {
  width: 47%;
}

.glance div.video-wrap {
  position: relative;
  padding-bottom: 56.25%;
  overflow: hidden;
  height: 0;
  width: 100%;
  margin: 0 auto;
}

.video-wrap iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.stats {
  margin-top: 10px;
  list-style-type: none;
  padding: 0px 0px 0px 10px;
}

li {
  color: #303030;
  font-size: 16px;
  font-family: 'Quicksand', sans-serif;
  line-height: 24px;
  margin-bottom: 5px;
}

.writeup {
  width: 90%;
  margin: 40px 5%;
}

.writeup-single {
  width: 60%;
  margin: 40px auto;
}

.writeup-single p {
  margin-bottom: 20px;
}

.res-section {
  width: 90%;
  margin: 40px 5%;
}

ul {
  list-style-type: square;
}

.title {
  border-bottom: 1px solid #303030;
  border-top: 1px solid #303030;
  text-align: center;
}

.two {
  display: flex;
  border-top: 0px solid;
  text-align: left;
}

.two div {
  width: 50%;
}

.title h3 {
  font-weight: 700;
  font-family: 'Frank Ruhl Libre', serif;
}

.right {
  text-align: right;
}

.button {
  background-color: #b72020;
  color: #fff;
  width: 70%;
  text-align: center;
  margin: 20px auto 0px auto;
  padding: 30px 0px;
  border-radius: 5px;
}

.button h3 {
  margin: 0 auto;
  color: #fff;
}

.button:hover {
  background-color: #d61500;
}

strong {
  font-weight: 700;
  font-family: 'Frank Ruhl Libre', serif;
}

footer {
  width: 100%;
  border-top: 1px solid #303030;
  text-align: center;
}

.footer-content {
  margin: 20px auto;
}

@media only screen and (max-width: 1024px) {
  .section-wrap {
    width: 95%;
    margin: 0 auto;
  }
}

@media only screen and (max-width: 768px) {

  .mobile {
    display: block;
  }

  .section-menu {
    display: none;
  }

  #intro {
    padding: 0px;
  }

  header, nav, .name {
    margin: 0 auto;
    float: none;
    text-align: center;
    width: 100%;
  }

  header.mini {
    border: 0px solid;
  }

  header.mini nav {
    display: none;
  }

  header.mini .name {
    text-align: left;
    margin: 0px auto;
    width: 80%;
  }

  .project.active {
    width: 100%;
    margin-top: -20px;
    border-top: 0px solid;
  }

  .section-content {
    display: block;
  }

  .block {
    width: 95%;
    margin: 0% 2.5%;
    display: inline-block;
  }

  .block.right {
    text-align: center;
  }

  .respond {
    text-align: center;
  }

  .logo-row {
    margin: 20px auto 0 auto;
  }

  .glance {
    width: 100%;
    display: block;
    margin: 0 auto;
  }

  .glance div {
    width: 90%;
    margin: 20px 5%;
  }

  .res-section {
    margin: 20px 5%;
  }

  .writeup-single {
    width: 85%;
  }

  ul {
    padding-inline-start: 20px;
  }
}
